<div class="pdnc-weather-chat">
  {{#if img}}
    <img src="{{img}}" style="float: right; width: 48px; height: 48px; border: none; margin-left: 5px; margin-bottom: 5px;" class="pdnc-weather-icon" />
  {{/if}}
  <h3>{{{date}}}</h3>
  <div style="font-size: 0.9em; opacity: 0.9; margin-bottom: 8px">
    <strong>Region:</strong> {{climate}}<br />
    <strong>Season:</strong> {{season}}
  </div>
  <div style="font-size: 1.1em; margin-bottom: 10px; font-weight: bold; line-height: 1.4;">
    {{text}}
  </div>
  <div class="pdnc-weather-temp">
    <i class="fas fa-thermometer-half"></i> {{temp}}
  </div>
</div>
